:host {
    display: flex;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 0 12rem;

    .container {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 2rem;
    }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        height: 100%;
        align-items: center;
    }

    li {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.logo {
    height: 4rem;
}
